<html>

<%

	class Vista 


		attr_accessor :imagenes

		def initialize
			@imagenes = [
				"http://www.clker.com/cliparts/a/6/0/8/13450054841457633298glossy-blue-circle-button-md-hi.png",
				"http://doc.qt.digia.com/4.6/images/used-in-examples/widgets/tooltips/images/square.png",
				"http://www.semokwan.com/heraldica%20de%20hamgumdo/piramide.png",
				"http://img2.wikia.nocookie.net/__cb20130620210048/inciclopedia/images/1/18/Estrella_amarilla.png",
				"https://members.scrumalliance.org/system/user/photo/0008/9921/200x200/BigBigK-FondoBlanco.jpg"]
		end
		

		def getImagen(llave)
			img = ""
			if(llave == 'circulo')
				img = @imagenes[0]
			elsif (llave == 'cuadrado')
				img = @imagenes[1]
			elsif (llave == 'triangulo')
				img = @imagenes[2]
			elsif (llave == 'estrella')
				img = @imagenes[3]
			else
				img = @imagenes[4]
			end
			"<img class='imagenSeq' src='" + img + "' />"
		end
	end	

	@vista = Vista.new
%>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript">	
	
	var arreglo = {
		'circulo': '<%= @vista.imagenes[0] %>',
		'cuadrado': '<%= @vista.imagenes[1] %>',
		'estrella': '<%= @vista.imagenes[3] %>',
		'triangulo': '<%= @vista.imagenes[2] %>',
		'kleer': '<%= @vista.imagenes[4] %>'
	};

	$( document ).ready(function() {
		setTimeout(function() {
    		$('#secuencia').fadeOut('fast');
    		$('#respuesta').fadeIn('slow');
		}, 1000*(parseInt(document.getElementById('num').value)+1));
	});

	function agregar(imagen) {
		var innerHTML = document.getElementById('secuenciaRespuesta').innerHTML;
		innerHTML = innerHTML + "<img class='imagenSeq' src='" + arreglo[imagen] + "' />";
		document.getElementById('secuenciaRespuesta').innerHTML	= innerHTML;
		var campoRespuesta = document.getElementById('campoRespuesta');
		if(campoRespuesta.value.length == 0)
			campoRespuesta.value = imagen;
		else
			campoRespuesta.value = campoRespuesta.value + ',' + imagen;
		validar();
	}

	function validar() {
		var divSeq = document.getElementById("campoRespuesta").value;
		var divSeqRes = document.getElementById("campoOriginal").value;
		
		if(divSeq.split(',').length === divSeqRes.split(',').length) {
			document.getElementById('botonSiguiente').click();
		}	
	}
	
	function getUrlImagen(imagen) {
		return mapImages[imagen];
	}

</script>
<style type="text/css">
	.imagenSeq {
    height: 100px;
    width: 100px;
	}

	body {
      background-image: url("http://i.huffpost.com/gen/799955/thumbs/o-THE-MATRIX-AND-HINDUISM-facebook.jpg");
}

div {
	background-color:rgba(255,255,255,0.8);
	height:500px;
    width:500px; margin-left: auto;
    margin-right: auto;
    width: 70%;
	text-align: center;
	
}

table tr {
	width: 100%;
}
</style>
<div id="secuencia" style="display:block">
	<h1>Simón Recargado dice:</h1>
	<h2>Recuerda las imagenes, tienes <%= @secuencia.split(',').length + 2 %> segundos......</h2>

		<% @secuencia.split(',').each do |name| %>
		  <%= @vista.getImagen(name) %>
		<% end %>

</div>



<div id="respuesta" style="display:none">
	<table border="1" align="center">
		<tr colspan="2">
			<h2>Selecciona las imagenes de tu respuesta . . .<h2>	
			<input type="text" name="res" id="res" style="display:none">
		</tr>
		<tr>
			<td><input type="image" class="imagenSeq" id="but4" onclick="agregar('circulo')" src="<%= @vista.imagenes[0] %>" /></td>
			<td><input type="image" class="imagenSeq" id="but1" onclick="agregar('cuadrado')" src="<%= @vista.imagenes[1] %>" /></td>
			<td><input type="image" class="imagenSeq" id="but3" onclick="agregar('triangulo')" src="<%= @vista.imagenes[2] %>" /></td>
			<td><input type="image" class="imagenSeq" id="but2" onclick="agregar('estrella')" src="<%= @vista.imagenes[3] %>" /></td>
			<td><input type="image" class="imagenSeq" id="but2" onclick="agregar('kleer')" src="<%= @vista.imagenes[4] %>" /></td>
		<tr>
	</table>
<br/>
<br/>
<div id="secuenciaRespuesta" style="display:block; height: 20%; background-color:rgba(25,25,25,0.3)">
</div>
<br/>


<form method="get" action="/">
<input type="submit" name="Reiniciar Juego" value="Reiniciar Juego" />
</form>	
</div>



<div style="display:none;">
	<form method="get" action="/validar" name="formSiguiente">
		<input type="text" id = "campoRespuesta" name = "campoRespuesta" value="" />
		<input type="text" id = "campoOriginal" name = "campoOriginal" value=<%= @secuencia %> />
		<input type="text" value=<%= @secuencia.split(',').length + 1 %> name="num" id="num">
		<input type="submit" value="Jugar" name="jugar" id="botonSiguiente"/>
	</form>
</div>


</html>
