<%

	class Vista 

		attr_accessor :imagenes
		attr_accessor :tipos

		def initialize
			@imagenes = [
				"./public?folder=img&name=0&ext=png", #circulo
				"./public?folder=img&name=1&ext=png", #cuadrado
				"./public?folder=img&name=2&ext=png", #triangulo
				"./public?folder=img&name=3&ext=png", #estrella
				"./public?folder=img&name=4&ext=png", #kleer
				"./public?folder=img&name=5&ext=png"]

			@tipos = ["circulo", "cuadrado", "triangulo", "estrella", "kleer", "estrella2"]
		end
		

		def getImagen(llave, type)
			img = ""
			if(llave == 'circulo')
				img = @imagenes[0]
			elsif (llave == 'cuadrado')
				img = @imagenes[1]
			elsif (llave == 'triangulo')
				img = @imagenes[2]
			elsif (llave == 'estrella')
				img = @imagenes[3]
			elsif (llave == 'kleer')
				img = @imagenes[4]
			else
				img = @imagenes[5]
			end
      if(type == "ans")
			 "<img class='imagenSeqAns' src='" + img + "' />"
      else
        "<img class='imagenSeq' src='" + img + "' />"
      end
		end

		def getNombreBoton(num)
			"but"+num.to_s
		end
		
		def getFuncion(name)
			"agregar('" + name + "')"
		end
    
    def getKeyboard()
      keyboard = ""
      i = 0
      tipos.each do |tipo|
        if(keyboard.length == 0)
          keyboard = "<td><input type='image' class='imagenSeq' id=" + getNombreBoton(i) + 
                                " onClick=" + getFuncion(tipo) + " src=" + imagenes[i] + " /></td>"
        else
          keyboard += "<td><input type='image' class='imagenSeq' id=" + getNombreBoton(i) + 
                                " onClick=" + getFuncion(tipo) + " src=" + imagenes[i] + " /></td>"
        end
        i += 1
      end
      keyboard
    end
    
    def getMemorySequence(seq, type)
      memorySeq = ""
      seq.split(',').each do |name|
        if(type == "ans")
          memorySeq += getImagen(name, "ans")
        else
          memorySeq += getImagen(name, "")
        end
      end
      memorySeq
    end
    
	end

	@vista = Vista.new
  @@mainView = @vista
%>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="./public?folder=css&name=jugar&ext=css">
  <script type="text/javascript" src="./public?folder=lib&name=jquery&ext=js"></script>
  <script type="text/javascript"src="./public?folder=lib&name=app&ext=js" ></script>
  <script>
    var arreglo = {
      'circulo': '<%= @vista.imagenes[0] %>',
      'cuadrado': '<%= @vista.imagenes[1] %>',
      'triangulo': '<%= @vista.imagenes[2] %>',
      'estrella': '<%= @vista.imagenes[3] %>',
      'kleer': '<%= @vista.imagenes[4] %>',
      'estrella2': '<%= @vista.imagenes[5] %>'
    };
  </script>
</head>
<body>
  <div id="secuencia" style="display:block">
    <h1>Simón Recargado dice:</h1>
    <h2>Recuerda las imagenes, tienes <%= @secuencia.split(',').length + 0.5 %> segundos......</h2>
      <%= @vista.getMemorySequence(@secuencia, "") %>
  </div>

  <div id="respuesta" style="display:none">
    <table class="tabla" align="center">
      <tr colspan="2">
        <h2>Selecciona las imagenes de tu respuesta . . .<h2>	
        <input type="text" name="res" id="res" style="display:none">
      </tr>
      <tr>
        <%= @vista.getKeyboard() %>
      <tr>
    </table>
  <br/>
  <br/>
  <div id="secuenciaRespuesta" style="display:block; height: 20%; background-color:rgba(25,25,25,0.3)">
  </div>
  <br/>


  <form method="get" action="/">
  <input type="submit" name="Reiniciar Juego" value="Reiniciar Juego" />
  </form>	
  </div>

  <div style="display:none;">
    <form method="get" action="/validar" name="formSiguiente">
      <input type="text" id = "campoRespuesta" name = "campoRespuesta" value="" />
      <input type="text" value=<%= @secuencia.split(',').length + 1 %> name="num" id="num">
      <input type="submit" value="Jugar" name="jugar" id="botonSiguiente"/>
    </form>
  </div>
</body>
</html>
