<%

	class Vista 

		attr_accessor :imagenes
		attr_accessor :tipos

		def initialize
			@imagenes = [
				"./public?folder=img&name=0&ext=png", #circulo
				"./public?folder=img&name=1&ext=png", #cuadrado
				"./public?folder=img&name=2&ext=png", #triangulo
				"./public?folder=img&name=3&ext=png", #estrella
				"./public?folder=img&name=4&ext=png", #kleer
				"./public?folder=img&name=5&ext=png", #estrella2
				"./public?folder=img&name=6&ext=png", #circulo2
				"./public?folder=img&name=7&ext=png", #moneda500
				"./public?folder=img&name=8&ext=png"] #moneda1000

			@tipos = ["img_00", "img_01", "img_02", "img_03", "img_04", "img_05", "img_06", "img_07", "img_08"]
		end
		

		def getImagen(llave, type)
			img = ""
      i = 0
      encontrado = false
      while i < tipos.length && !encontrado do
        if(tipos[i] == llave)
          img = @imagenes[i]
          encontrado = true
        end
        i += 1
      end
      i = 0
      if(type == "ans")
			 "<img class='imagenSeqAns' src='" + img + "' />"
      else
        "<img class='imagenSeq' src='" + img + "' />"
      end
		end

		def getNombreBoton(num)
			"but"+num.to_s
		end
		
		def getFuncion(name)
			"agregar('" + name + "')"
		end
    
    def getKeyboard()
      keyboard = ""
      i = 0
      tipos.each do |tipo|
        if(keyboard.length == 0)
          keyboard = "<td><input type='image' class='imagenSeq' id=" + getNombreBoton(i) + 
                                " onClick=" + getFuncion(tipo) + " src=" + imagenes[i] + " /></td>"
        else
          keyboard += "<td><input type='image' class='imagenSeq' id=" + getNombreBoton(i) + 
                                " onClick=" + getFuncion(tipo) + " src=" + imagenes[i] + " /></td>"
        end
        i += 1
      end
      keyboard
    end
    
    def getMemorySequence(seq, type)
      memorySeq = ""
      seq.split(',').each do |name|
        if(type == "ans")
          memorySeq += getImagen(name, "ans")
        else
          memorySeq += getImagen(name, "")
        end
      end
      memorySeq
    end
    
    def getStyleSecuenciaGenerada(num)
      size = (num%11)*81
      "display:block; width:95%; height: " + (size+10).to_s + "px; "
    end
    
    def getCountersArray()      
      counters = ""
      i = 0
      tipos.each do |tipo|
        if(i == 0)
          counters = "{ '" + tipo + "' : 0 " 
        else
          counters = counters + ", '" + tipo + "' : 0 "
        end
        i += 1
      end
      i = 0
      counters = counters + " }\""
      res = ("\"" + counters).to_s
      res
    end
    
    def getJavaScriptArray() 
      res = "var arreglo = { "
      
      i=0
      tipos.each do |tipo|
        if (i == 0)
          res += "'" + tipo + "': '" + imagenes[i] + "'"
        else
          res += ", \n'" + tipo + "': '" + imagenes[i] + "'"
        end
        i += 1
      end
      res += " };"
      res
    end
    
	end

	@vista = Vista.new
  @@mainView = @vista
%>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="./public?folder=css&name=jugar&ext=css">  
  <link rel="shortcut icon" href="./public?folder=img&name=favicon&ext=ico" type="image/vnd.microsoft.icon">
  <script type="text/javascript" src="./public?folder=lib&name=jquery&ext=js"></script>
  <script type="text/javascript"src="./public?folder=lib&name=app&ext=js" ></script>
  <script type="text/javascript" ><%= @vista.getJavaScriptArray() %></script>
</head>
<body>
  <div id="secuencia" style="display:block; height:80%; width: 80%; overflow-y:auto; ">
    <h1>Simón Recargado dice:</h1>
    <h2><span class="player_name"><%= @nombre_jugador.capitalize%></span> recuerda las imágenes, tienes <%= @secuencia.split(',').length + 0.5 %> segundos... <a href="javascript:skipTime()">Contestar Ahora!</a></h2>
    <div id="secuenciaGenerada" align="center" style=<%= @vista.getStyleSecuenciaGenerada(@secuencia.length) %> >
      <%= @vista.getMemorySequence(@secuencia, "") %>
    </div>      
  </div>
  <div id="respuesta" style="display:none; width:80%; overflow-y: scroll;">
      <table class="tabla" align="center">
        <tr colspan="2">
          <h2><span class="player_name"><%= @nombre_jugador%></span> Selecciona las imagenes de tu respuesta . . .<h2>	
          <input type="text" name="res" id="res" style="display:none">
        </tr>
        <tr><td><%= @vista.getKeyboard() %></td><tr>
      </table>
      <br/>
      <br/>
      <div id="secuenciaRespuesta" style="display:block; height: 100px; width: 90%; background-color:rgba(25,25,25,0.3); overflow-y: auto;">
      </div>
      <br/>


      <form method="post" action="/">
        <input type="submit" name="Reiniciar Juego" value="Reiniciar Juego" />
      </form>	
    </div>

  <div style="display:none;">
    <form method="post" action="/validar" name="formSiguiente">
      <input type="text" id = "campoRespuesta" name = "campoRespuesta" value="" />
      <input type="text" id = "contadores" name = "contadores" value=<%= @@mainView.getCountersArray() %> />
      <input type="text" id = "playerName" name = "playerName" value=<%= @nombre_jugador %> />
      <input type="text" value=<%= @secuencia.split(',').length + 1 %> name="num" id="num" />
      <input type="submit" value="Jugar" name="jugar" id="botonSiguiente"/>
    </form>
  </div>
</body>
</html>
