<html>
<head>
  <link rel="stylesheet" type="text/css" href="./public?folder=css&name=jugar&ext=css" >  
  <link rel="shortcut icon" href="./public?folder=img&name=favicon&ext=ico" type="image/vnd.microsoft.icon">
</head>
<body>
  <div style="height:80%; width:95%">
    <h1></span> Lo siento, perdiste... Intenta otra vez!!</h1>
  <h2><span class="player_name"><%= @nombre_jugador.capitalize %></span> lograste recordar: <span class="resultado"><%= @lista_generada.split(',').length-1 %></span> elementos!!!</h2>
    <br>      
    <table align="center" style="width:95%;">
      <tr>
        <td style="width:5%;"><img class="imagenSeqAns" src="./public?folder=img&name=wrong&ext=png"></td>
        <td>
          <div id="secuenciaRespuesta"  style="display:block; width:100%; height: 50px; background-color:rgba(25,25,25,0.3); overflow-y: scroll;">
            <%= @@mainView.getMemorySequence(@lista, "ans") %></td>
          </div>
      </tr>
    </table>
    <br>      
    <table align="center" style="width:95%;">
      <tr>
        <td style="width:5%;"><img class="imagenSeqAns" src="./public?folder=img&name=ok&ext=png"></td>
        <td>
          <div id="secuenciaRespuesta"  style="display:block; width:100%; height: 50px; background-color:rgba(25,25,25,0.3); overflow-y: scroll;">
            <%= @@mainView.getMemorySequence(@lista_generada, "ans") %></td>
          </div>
      </tr>
    </table>
    <br>
    <form method="get" action="/">
      <input type="text" id = "playerName" name = "playerName" style="display:none" value=<%= @nombre_jugador %> />
      <input type="submit" name="Volver" value="volver" />
    </form>	
  </div>
</body>
</html>
